@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");
* {
  margin: 0;
  padding: 0; }

.imagenFondo h2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  font-size: 2.5rem;
  color: black; }

.imagenFondoTransparencia .main_secciones h2 {
  padding-top: 2rem;
  font-size: 2.5rem;
  color: black; }

.imagenFondo h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #faedcd97;
  color: #d4a373;
  border-radius: 1rem;
  padding: 3rem 1rem;
  max-width: 90%;
  margin: 15px auto;
  font-size: 1.5rem; }

.imagenFondo button {
  display: flex;
  justify-content: center;
  background-color: #fefae0;
  color: #f28482;
  margin: 2rem;
  padding: 1.2rem;
  font-size: 1.2rem;
  border: solid 4px #84a59d;
  border-radius: 30px;
  text-decoration: none;
  max-width: 40%; }

.imagenFondoTransparencia .main_secciones .separador {
  background-color: #bc6c25;
  height: 3px;
  border: none;
  margin: 0.5rem auto; }

.imagenFondoTransparencia .row_contacto .botonForm {
  display: flex;
  justify-content: center;
  background-color: #fefae0;
  color: #f28482;
  margin: 1rem auto;
  padding: .5rem 2rem;
  font-size: 1.2rem;
  border: solid 4px #84a59d;
  border-radius: 10px;
  max-width: 50%; }

.imagenFondoTransparencia {
  background-image: url(../img/textura-fondo5-transparencia.png);
  background-size: cover;
  height: 80vh; }

.imagenFondoTransparencia .main_secciones {
  display: flex;
  flex-direction: column;
  max-width: 95%;
  padding: 1rem 2rem; }

body {
  font-family: "Poppins", sans-serif; }

.navbar {
  background-color: #faedcd;
  display: flex;
  align-items: flex-end; }
  .navbar h1 {
    color: #eab479; }
  .navbar .nav-link {
    color: #d4a373; }
    .navbar .nav-link:hover {
      transform: scale(1.05);
      color: #e0bd9a;
      font-weight: bold; }

.imagenFondo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/textura-fondo5.jpg);
  background-size: cover;
  height: 80vh; }
  .imagenFondo button:hover {
    background-color: #84a59d;
    color: #fefae0;
    border: solid 4px #fefae0;
    font-size: 1.3rem;
    transform: scale(1.1, 1.1);
    transition: 1s; }
  .imagenFondo .imgIndex {
    width: 40vw; }

.imagenFondoTransparencia .row_contacto {
  display: flex;
  align-items: center;
  max-width: 95%;
  padding: 1rem 2rem; }
  .imagenFondoTransparencia .row_contacto .botonForm:hover {
    background-color: #fdf6c7; }

.imagenFondoTransparencia .container_servicios {
  max-width: 95%;
  padding: .5rem 3rem; }
  .imagenFondoTransparencia .container_servicios .servicios {
    margin: 0.5rem; }
    .imagenFondoTransparencia .container_servicios .servicios__titulo {
      text-align: center;
      margin-bottom: 2rem;
      padding: .7rem;
      border-radius: 10px;
      box-shadow: 2px 4px #b0c5c0;
      background-color: #84a59d; }
    .imagenFondoTransparencia .container_servicios .servicios__descripcion {
      display: flex;
      flex-direction: column;
      margin: 5px auto;
      padding: 20px;
      max-width: 90%;
      background-color: #fefae0;
      color: black;
      border-radius: 10px;
      box-shadow: 2px 4px #fcf2af; }
      .imagenFondoTransparencia .container_servicios .servicios__descripcion p {
        font-size: 1.5rem;
        display: flex;
        justify-content: center; }
      .imagenFondoTransparencia .container_servicios .servicios__descripcion li {
        padding: .5rem;
        font-size: 1.2rem;
        font-weight: bold; }

footer {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #faedcd; }
  footer div {
    display: flex;
    align-items: flex-end; }
    footer div p {
      padding-right: 1rem;
      color: #d4a373; }
    footer div a:hover {
      transform: scale(1.1, 1.1);
      transition: 8ms; }
  footer p {
    padding-left: 1rem;
    color: #d4a373; }
