//PALETA DE COLORES PASTELES//
$verdeOscuroPastel: #ccd5ae;
$verdeClaroPastel: #e9edc9;
$cremaPastel: #fefae0;
$marronClaroPastel: #faedcd;
$marronOscuroPastel: #d4a373;

//COLORES CON TRANSPARENCIA
$maronClaroTransparente: #faedcd97;

//PALETA DE COLORES FUERTES//
$verdeOscuro: #283618;
$verdeClaro: #606c38;
$crema: #fefae0;
$marronClaro: #dda15e;
$marronOscuro: #bc6c25;

//COLOR TIPOGRAFIA//
$tipografiaParrafos: black;


