%estiloTituloPrincipal {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 2.5rem;
    color: $tipografiaParrafos;
}

%estiloTitulos {
    padding-top: 2rem;
    font-size: 2.5rem;
    color: $tipografiaParrafos;
}

%estiloParrafos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: $maronClaroTransparente;
    color: $marronOscuroPastel;
    border-radius: 1rem;
    padding: 3rem 1rem;
    max-width: 90%;
    margin: 15px auto;
    font-size: 1.5rem;
}

%botonesConsulta {
    display: flex;
    justify-content: center;
    background-color: $crema;
    color: $rosaPastel;
    margin: 2rem;
    padding: 1.2rem;
    font-size: 1.2rem;
    border: solid 4px $celestePastel;
    border-radius: 30px;
    text-decoration: none;
    max-width: 40%;
    box-shadow: none;
    outline: none;
}

%separador {
    background-color: $marronOscuro;
    height: 3px;
    border: none;
    margin: 0.5rem auto;
}

%botonForm {
    display: flex;
    justify-content: center;
    background-color: $crema;
    color: $rosaPastel;
    margin: 1rem auto;
    padding: .5rem 2rem;
    font-size: 1.2rem;
    border: solid 4px $celestePastel;
    border-radius: 10px;
    max-width: 50%;
}

%fondoTransparencia {
    background-image: url(../img/textura-fondo5-transparencia.jpg);
    background-size: cover;
}

%tituloSecciones {
    display: flex;
    flex-direction: column;
    max-width: 95%;
    padding: 1rem 2rem;
}

%imgTrabajos {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-size: cover;
}

%hoverImgTrabajos{
    transform: scale(1.01);
    transition: 5ms;
}

%descripcionTrabajos {
    background-color: $maronClaroTransparente;
    text-align: center;
    margin-top: .2rem;
}