.imagenFondo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/fondo-madera-rustica2.jpg);
    background-size: cover;
    height: 80vh;

    h2 {
        @extend %estiloTitulos;
    }

    h3 {
        @extend %estiloParrafos;
    }

    button {
        @extend %botonesConsulta;

        &:hover {
            background-color: $verdeClaro;
            color: $crema;
            border: solid 2px $crema;
            font-size: 1.3rem;
            transform: scale(1.1,1.1);
            transition: 1s;
        }
    }
}