.imagenFondo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/textura-fondo5.jpg);
    background-size: cover;
    height: 80vh;

    h2 {
        @extend %estiloTituloPrincipal;
    }

    h3 {
        @extend %estiloParrafos;
    }

    button {
        @extend %botonesConsulta;

        &:hover {
            background-color: $celestePastel;
            color: $crema;
            border: solid 4px $crema;
            font-size: 1.3rem;
            transform: scale(1.02, 1.02);
            transition: 8ms;
        }
    }

    .imgIndex {
        width: 40vw;
    }
}