    .row_contacto {
        display: flex;
        align-items: center;
        max-width: 95%;
        padding: 1rem 2rem;

        .botonForm {
            @extend %botonForm;

            &:hover {
                background-color: darken($color: $crema, $amount: 5);
            }
        }
    }