.imagenFondo {
    background-image: url(./img/fondo-madera-rustica2);
}

.botonWhatsapp {
    display: inline-block;
    background-color: blue;
    margin: 2rem;
    padding: 1.5rem;
    font-size: 1.5rem;
    border-radius: 30px;
    text-decoration: none;

    &:hover {
        background-color: green;
        color: blue;
    }
}