.imagenFondoTransparencia{
    background-image: url(../img/textura-fondo5-transparencia.png);
    background-size: cover;
    height: 80vh;

.container_contacto{
    display: flex;
    flex-direction: column;
    max-width: 95%;
    padding: 1rem 2rem;

    .separador{
        @extend %separador;
    }
}

.row_contacto{
    display: flex;
    align-items: center;
    max-width: 95%;
    padding: 1rem 2rem;
}}