.imagenFondoTransparencia {
    @extend %fondoTransparencia;

    .main_secciones {
        @extend %mainSecciones;

        h2 {
            @extend %estiloTitulos;
        }

        .separador {
            @extend %separador;
        }
    }

    .row_contacto {
        display: flex;
        align-items: center;
        max-width: 95%;
        padding: 1rem 2rem;

        .botonForm {
            @extend %botonForm;

            &:hover {
                background-color: darken($color: $crema, $amount: 5);
            }
        }
    }
}