    .grilla {
        @include displayCol(grid, $gridCol);
        grid-template-rows: $gridRow;
        grid-template-areas:
            "trabajo1 trabajo2 trabajo3"
            "trabajo1 trabajo4 trabajo4"
            "trabajo6 trabajo5 trabajo5"
            "trabajo7 trabajo5 trabajo5";
        justify-content: center;
        height: 75vh;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        margin: auto auto;

        .trabajo1 {
            grid-area: trabajo1;
            @extend %imgTrabajos;
            background-image: url(../img/living-calido-vertical.jpg);

            &:hover {
                @extend %hoverImgTrabajos;
            }

            p {
                @extend %descripcionTrabajos;
            }
        }

        .trabajo2 {
            grid-area: trabajo2;
            @extend %imgTrabajos;
            background-image: url(../img/interior-amplio.jpeg);

            &:hover {
                @extend %hoverImgTrabajos;
            }

            p {
                @extend %descripcionTrabajos;
            }
        }

        .trabajo3 {
            grid-area: trabajo3;

            @extend %imgTrabajos;
            background-image: url(../img/interior-cerrado.jpeg);

            &:hover {
                @extend %hoverImgTrabajos;
            }

            p {
                @extend %descripcionTrabajos;
            }

        }

        .trabajo4 {
            grid-area: trabajo4;
            @extend %imgTrabajos;
            background-image: url(../img/living-vajilla-horizontal.jpg);

            &:hover {
                @extend %hoverImgTrabajos;
            }

            p {
                @extend %descripcionTrabajos;
            }

        }

        .trabajo5 {
            grid-area: trabajo5;
            @extend %imgTrabajos;
            background-image: url(../img/cocina-parrila-cuadrada.jpg);

            &:hover {
                @extend %hoverImgTrabajos;
            }

            p {
                @extend %descripcionTrabajos;
            }
        }

        .trabajo6 {
            grid-area: trabajo6;
            @extend %imgTrabajos;
            background-image: url(../img/cocina-cuadrada.jpg);

            &:hover {
                @extend %hoverImgTrabajos;
            }

            p {
                @extend %descripcionTrabajos;
            }
        }

        .trabajo7 {
            grid-area: trabajo7;
            @extend %imgTrabajos;
            background-image: url(../img/cocina-angulo-cuadrada.jpg);

            &:hover {
                @extend %hoverImgTrabajos;
            }

            p {
                @extend %descripcionTrabajos;
            }
        }
    }