.navbar {
    background-color: $marronClaroPastel;
    display: flex;
    align-items: flex-end;

    h1 {
        color: $amarilloPastelOscuro;
    }

    .nav-link {
        color: $marronOscuroPastel;

        &:hover {
            transform: scale(1.05);
            color: lighten($color: $marronOscuroPastel, $amount: 10);
            font-weight: bold;
        }

        // .active {
        //     &:active {
        //         font-size: 3rem;
        //     }

    }
}